* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 1610px;
    max-width: 100%;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {

    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 15px;
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_content ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header_logo img {
    width: 100px;
    height: 90px;
    border-radius: 50%;
}

.header_logo span {

    margin-top: 4px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.header_logo h3 {
    font-size: 25px;
    color: rgb(4, 4, 4);
    font-weight: 700px;
    font-weight: 900;
}

.header_content a {
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: 700px;
    font-weight: 500;
}




.lakatsya_logo {
    margin-left: 900px;
}

.lakatsya_text p{
    border: solid black 2px;
    margin-top: 10px;
    padding: 5px 5px;
    text-align: center;
    background-color: black;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 700;
    box-shadow: 1px 1px 10px black;
}

.lakatsya_wrapper {
    position: relative;

}

.osha {
    width: 690px;
    height: 480px;
    border: 1px solid #000000;
    padding: 20px;
    overflow-y: scroll;
    background: transparent;
    color: #000000;
    margin-left: 440px;
    margin-top: 430px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px #000000;
    scrollbar-width: none;
    position: absolute;

}

.header_content button {
    padding: 10px 25px 10px 25px;
    border-radius: 12px;
    background: transparent;
    border: solid #000000;
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    margin-left: 30px;
}

.lakatsya_wrapper {
    display: flex;
    align-items: center;
    margin-top: 120px;
}

.ah {
    position: relative;
}

.ha {
    position: absolute;
    margin-top: -120px;
    width: 1518px;
    height: 700px;
}


.person {
    padding: 12px;
    background: #f5f5f5;
    margin-bottom: 7px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #ddd;
    transition: 0.2s;
}

.person:hover {
    background: #eaeaea;
}

#locationDiv iframe {
    border-radius: 8px;
    margin-top: 10px;
}
#mapFrame{
    margin-left: 30px;
}
.kk{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}


.timer {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    background-color: #f7f8fa;
    padding: 20px 40px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-left: 150px;
    margin-top: 100px;
  }

  .foter1 img {
    width: 68px;
    height: 68px;
}

.Footer {
    display: flex;
    width: 100px;
    margin-top: 40px;
    align-items: center;
    gap: 200px;
    margin-left: 170px;
    position: absolute;
    padding-bottom: 70px;
    margin-top: 500px;

}
body{
    background-color: #081138f8;
}
.foter_content {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.foter3{
    margin-top: 52px;
}
.foter1{
    margin-top: -40px;
}
.fo_img {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 7px;

}

.text_f {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #ffffff;
    text-align: center;
}

.foter1 h5 {
    margin-top: 20px;
    font-size: 15px;
    width: 250px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
}


.fotter2 h2 {
    width: 200px;
    color: #ffffff;
    font-weight: 600;
}

.fotter2 li {
    margin-top: 10px;

}

.kk {
    width: 100px;
    margin-left: -35px;
}

.foter_content h6 {
    width: 250px;
    margin-left: -40px;
    font-size: 17px;
}

.foter4 h2 {
    width: 300px;
    color: #ffffff;
}

.foter4 {
    margin-top: 20px;
}

.foter3 h2 {
    color: #ffffff;
}

.footerr {
    margin-top: 100px;

}

.text_f img {
    border-radius: 50%;
}

.footerr {
    margin-left: 50px;
    background-color: #081138f8
}

.foter1 h1 {
    margin-left: -6px;
}

.fotter2 li {
    color: #fff;
}

.foter3 p {
    color: #fff;
}

.foter3 h6 {
    color: #fff;
}
  

.foter1 img {
  width: 68px;
  height: 68px;
}

.Footer {
  display: flex;
  width: 100px;
  margin-top: 40px;
  align-items: center;
  gap: 200px;
  margin-left: 170px;
  position: absolute;
  padding-bottom: 70px;
  margin-top: 500px;

}
body{
  background-color: #081138f8;
}
.foter_content {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.foter3{
  margin-top: 52px;
}
.foter1{
  margin-top: -40px;
}
.fo_img {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 7px;

}

.text_f {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #ffffff;
  text-align: center;
}

.foter1 h5 {
  margin-top: 20px;
  font-size: 15px;
  width: 250px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
}


.fotter2 h2 {
  width: 200px;
  color: #ffffff;
  font-weight: 600;
}

.fotter2 li {
  margin-top: 10px;

}

.kk {
  width: 100px;
  margin-left: -35px;
}

.foter_content h6 {
  width: 250px;
  margin-left: -40px;
  font-size: 17px;
}

.foter4 h2 {
  width: 300px;
  color: #ffffff;
}

.foter4 {
  margin-top: 20px;
}

.foter3 h2 {
  color: #ffffff;
}

.footerr {
  margin-top: 100px;

}

.text_f img {
  border-radius: 50%;
}

.footerr {
  margin-left: 50px;
  background-color: #081138f8
}

.foter1 h1 {
  margin-left: -6px;
}

.fotter2 li {
  color: #fff;
}

.foter3 p {
  color: #fff;
}

.foter3 h6 {
  color: #fff;
}
