.input_wrapper input{
    width: 200px;
    height: 24px;
    border-radius: 6px;
    display: flex;
    margin-bottom: 10px;
    border: 1px;
}

.bamee a{
    text-decoration: none;
        text-decoration: none;
    color: #bbaaaa;
    font-weight: 500;
    transition: color 0.3s;
    color: rgb(22, 22, 40);
     margin-left: 37%;
}
body{
    background: linear-gradient(90deg, #0341e9d0 0%, #0c1749 100%);
}
.input_wrapper{
    margin-left: 46%;

}
.bamee a:hover {
    color: #abb6e4;
}
.container{
    margin-top: 250px;
}


.btn {
    padding: 10px 25px;
    background: linear-gradient(90deg, #0341e9d0 0%, #0c1749 100%);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-left:  49%;
    margin-top: 50px;

}

.btn:hover {
    transition: 0.3s;
    padding: 12px 27px;
}
.input_wrapper{
color: #bcbcbe;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 1610px;
    max-width: 100%;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
   text-decoration: none;                      
}
header{
background: linear-gradient(90deg, #0341e9d0 0%, #0c1749 100%);
padding-top: 20px;
padding-bottom: 15px;
}
.header_wrapper{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header_content{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header_content ul{
    display: flex;
    align-items: center;
    gap: 40px;
}
.header_logo img{
width: 100px;
}
.header_logo span{
    margin-top: 4px;
font-size: 20px;
font-family:Arial, Helvetica, sans-serif;
font-weight: 700;
}
.header_logo h3{
font-size: 25px;
color: aliceblue;
font-weight: 700px;
font-weight: 900;
}
.header_content li{
    font-size: 25px;
color: aliceblue;
font-weight: 700px;
font-weight: 500;
}
.header_content button{
    width: 200px;
    padding: 10px 20px 10px 20px;
    border-radius: 12px;
    background: transparent;
    border: solid #fff;
color: #fff;
font-size: 15px;
font-weight: 700;
margin-left: 30px;
}
.header_logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 70px;
}


.header_logo h3 {
  font-size: 24px;
  color: #0077ff;
}

.header_logo span {
  color: #0077ff;
}
